* input::-webkit-input-placeholder {
    font-family: 'VT323', monospace;
    color: #333;
}
* input::-moz-placeholder {
    letter-spacing: 2px;
    font-size: 18px;
    font-family: 'VT323', monospace;
    color: #333;
}
* input:-ms-input-placeholder {
    font-family: 'VT323', monospace;
    color: #333;
}
* input:-moz-placeholder {
    font-family: 'VT323', monospace;
    color: #333;
}